.productContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 50px;
}

.catalogContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 50px;
	border-left: 2px solid #fff333;
}

/* ------------ ESTILOS HOMEPAGE ----------- */


.containerHome {
	opacity: 1;
	width: 100%;
	overflow: hidden;
	animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
  }

.bannerImage {
	object-fit: cover;
	height: 700px;
	opacity: 1;
	transition: .5s ease;
}
.containerHome:hover .bannerImage {
	opacity: 0.7;
	transform: scale(1.03);
	
	
}
.containerHome:hover .welcomeButton {
	opacity: 1;
}
.bannerContent {
	position: absolute;
	top: 20%;
	left: 15%;
	
}
.bannerTitle {
	width: 70%;
	font-size: 11rem;
	font-family: 'Roboto';
	font-weight: 600;
	color: #EDDBCD;
	letter-spacing: 1.5rem;
	padding-bottom: 35px;
}
.bannerSub {
	font-size: 2.618rem;
	font-weight: 400;
	color: #f3eae3;
	padding: 20px;
}
.containerIntro {
	justify-content: center;
	width: 800px;
	margin: auto;
	border: 2px dashed #EDDBCD;
}
.bannerCommitment {
	font-size: 1.618rem;
	font-weight: 200;
	color: #f3eae3;
	padding: 0px 30px 20px 30px;
}
.lineDivider {
	border: 2px solid #EDDBCD;
	max-width: 1200px;
}
.welcomeButton {
	position: absolute;
	top: 630px;
	left: 40%;
	transition: .5s ease;
	opacity: 0;
	margin-top: 70px;
	width: 300px;
	height: 60px;
	font-size: 1.618rem;
	color: #f3eae3;
	background: rgb(65,65,92);
    background: radial-gradient(circle, rgba(65,65,92,1) 0%, rgba(29,29,46,1) 100%);
	border: none;
	
}
bannerHome:hover .welcomeButton {
	opacity: 1;
}


