/* .custom-button {
    min-width: 150px;
    width: auto;
    height: auto;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px ;
    font-size: 15px;
    background-color:white;
    color: #EC603A;
    text-transform: uppercase;
    font-family: 'Roboto';
    border: 1px solid #EC603A;
    cursor: pointer;
    display: flex;
    justify-content: center;
  
    &:hover {
      background-color: #EF781E;
      color: white;
    }

  } */