.closeButton {
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	border-radius: 50px;
	background-color: #EC603A;
}
.ordersTitle {
	padding: 50px 0px;
    font-family: 'Roboto';
    font-size: 2.618rem;
    background: rgb(65,65,92);
    background: radial-gradient(circle, rgba(65,65,92,1) 0%, rgba(29,29,46,1) 100%);
  	color: white;
}

.ordersContainer {
	padding: 100px 200px;
}
#modalContainer {
	padding: 50px;
	background-color: #1d1d2e !important;
	width: 600px;
	float: center;
	border: 10px solid #1d1d2e;
	position: absolute;
}
#modalContainer h3 {
	font-family: 'Roboto';
	font-size: 1.618rem;
	padding: 5px 0px;
	color: white;

}
#modalContainer h2 {
	font-family: 'Roboto';
	font-size: 1rem;
	padding: 5px 0px;
	color: white;

}
#modalContainer label {
	font-family: 'Roboto';
	font-size: 1rem;
	
	color: white;

}
#modalContainer th {
	font-family: 'Roboto';
	font-size: 1rem;
	padding: 10px 15px;
	color: white;

}
#modalContainer td {
	font-family: 'Roboto';
	font-size: 1rem;
	padding: 10px 15px;
	color: white;

}
#modalContainer img {
	max-width: 150px;
	font-size: 1rem;
	padding: 10px 15px;
	color: white;

}
#modalContainer input {
	border-radius: 25px;
	background-color: aliceblue;

}