.productsCategoryHeading {
    padding: 50px 0px;
    font-family: 'Roboto';
    font-size: 2.618rem;
    background: rgb(65,65,92);
    background: radial-gradient(circle, rgba(65,65,92,1) 0%, rgba(29,29,46,1) 100%);
    color: white;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
	box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5);
}
.productFilterBackground {
    margin-top: 20px;
    background-color: white;
    padding: 30px;
    border-bottom-left-radius: 25px;
}