
.buscar{
    padding:5px; 
}
.buscar input{
    width:240px; 
    height:40px; 
     padding:0 20px; 
     font-size: 18px; 
    color : #000; 
     outline: none; 
     border: 1px solid ; 
     border-radius:30px;
}
.botoncito{
    background-color: black !important; 
    margin-top:6px !important;
    top: 0 !important;
    right: 0 !important;
    width: 40px !important;
    height: 40px !important;
    line-height: 30px !important;
    text-align: center !important;
    color:white !important;
     font-size: 20px !important;
    border-radius:50% !important;
}
#display{
    display: flex;
}
.icon{
    margin-right:50 px !important;
   
}